<section class="card-carousel">
    <div class="card" data-color="purple">
        <div class="card-content">
            <div class="card-image3">
                &#x1F91D;
            </div>
            <h3>Ajuda na Programação</h3>
            <p>Temos um sistema com recompensas para aqueles que ajudam outros membros nas suas dúvidas, então Devs de todos os níveis são bem vindos no nosso servidor</p>
        </div>
    </div>

    <div class="card active" data-color="blue">
        <div class="card-content">
            <div class="card-image2">
                <img src="https://images-ext-1.discordapp.net/external/CXS0dtvhOYQ7BDJrjp8Nc6E2ZfTbKAclGxjY3f73GrM/%3Fsize%3D2048/https/cdn.discordapp.com/avatars/1171474990839894108/f8acdbf3c4f0841d8c54c7c9a01402ef.png?format=webp&quality=lossless&width=468&height=468" alt="Aigo">
            </div>

            <h3 class="spacement">Aigo</h3>
            <p>É o coração do servidor, temos funcionalidades exclusivas feitas a medida para que tenhamos um ambiente divertido e confortavel</p>
        </div>
    </div>

    <div class="card" data-color="green">
        <div class="card-content">
            <div class="card-image3">
                &#x1F4AD;
            </div>
            <h3>Comunidade Ativa</h3>
            <p>Temos uma comunidade ativa, saúdavel e que sempre está disposta à ajudar ou só bater um papo a qualquer hora do dia </p>
        </div>
    </div>
</section>
@code {
    
}