<div class="discord2">
<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div>
<a href="https://discord.gg/v7c7xA9pjK" target="_blank" class="discord-button">
    <i class="fa-brands fa-discord"></i>  Entrar no Discord
</a>
</div>

@code {
    
}