<footer class="footer">

    <section class="footer-content">
        <div class="footer-logo">
            <img src="https://images-ext-1.discordapp.net/external/0jgs189pPU0djY788YBBHrxofzkWKS5qq-8q1nq0dIY/%3Fsize%3D2048/https/cdn.discordapp.com/icons/1217263694950563941/a_8a9130f9cfd29da3b8ce56bb1863a7cc.gif" alt="LanHouse">
            <span>LanHouse</span>
        </div>
        <div class="social-links">
            <a href="https://discord.gg/v7c7xA9pjK" class="social-link" target="_blank">
                <i class="fab fa-discord"></i>
            </a>
            <a href="https://www.youtube.com/@@lan_code" class="social-link" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://github.com/irlanferreira" class="social-link" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <div class="footer-bottom">
            <p>Made With &#x2764; by <a href="https://srdarf.github.io/SuriRedirect/#OIJ5V3" target="_blank">suri</a></p>
        </div>
    </section>
</footer>

@code {
    
}