<nav>
    <a href="https://discord.gg/v7c7xA9pjK" target="blank">
        <div class="logo">
            <img src="https://images-ext-1.discordapp.net/external/0jgs189pPU0djY788YBBHrxofzkWKS5qq-8q1nq0dIY/%3Fsize%3D2048/https/cdn.discordapp.com/icons/1217263694950563941/a_8a9130f9cfd29da3b8ce56bb1863a7cc.gif" alt="">
            <span style="color: white;">LanHouse</span>
        </div>
    </a>
    <div class="nav-links">
    </div>
    <div class="button-group">
    </div>
</nav>
@code {
    
}