@using LanControl.Shared.ViewModels
<form method="post" data-enhance>
    <div class="card login-card">
        <div class="card-body">
            @if (LoginError)
            {
                <div class="alert alert-danger" role="alert">
                    E-mail ou senha incorretos
                </div>
            }
                
            <div class="mb-3">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="email" required placeholder="E-mail" value="@LoginData?.Email">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" required placeholder="Senha" value="@LoginData?.Password">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary float-end">Login</button>
            </div>
        </div>
    </div>
</form> 

@code {
    [Parameter] [EditorRequired] public required bool LoginError { get; set; }
    [Parameter] public UserLoginViewModel LoginData { get; set; }
}