@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="LanControl.styles.css"/>
    <HeadOutlet/>
    <title>Template</title>
</head>

<body>
@Body
<script src="_framework/blazor.web.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>