@using LanControl.Extensions
@inherits LayoutComponentBase
@layout AppLayout
@inject IHttpContextAccessor Context


<div class="content">
    <main>
        <div class="body">
            @Body
        </div>
    </main>
</div>